<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdzflUR6x-9LvwJh73vC8-wsK9Gup2d3A</string>
	<key>GCM_SENDER_ID</key>
	<string>277899685082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutrimeal</string>
	<key>PROJECT_ID</key>
	<string>nutrimeal-fyp</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrimeal-fyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277899685082:ios:057ad0c69d050393c3c9e3</string>
</dict>
</plist>